extends layout

block content
  b Training network with training set:
  br
  br
  table.table
    tr
      th
        | Input 1
      th
        | Input 2
      th
        | Output
    tr
      td
        | 0
      td
        | 0
      td
        | 0
    tr
      td
        | 1
      td
        | 0
      td
        | 1
    tr
      td
        | 0
      td
        | 1
      td
        | 1
    tr
      td
        | 1
      td
        | 1
      td
        | 0
  br
  .panel.panel-default
    .panel-heading Training
    .panel-body
      b(style="margin-bottom: 5px; padding: 0px;") Error rate: 
      span#error-rate 0
      br
      b(style="margin-bottom: 5px; padding: 0px;") Time (ms): 
      span#time 0
      hr
      button#train.btn.btn-info(type='button') Train
  .panel.panel-default
    .panel-heading Activation
    .panel-body
      label(for="input1", style="margin-right: 5px;") Input 1: 
      input#input1(name="input1",type='text', value='0')
      br
      label(for="input1", style="margin-right: 5px;") Input 2: 
      input#input2(name="input2",type='text', value='0')
      br
      p(style="margin-top:5px;")   Output: 
        span#output 0
      button#activate.btn.btn-info(type='button') Activate
  br
  br
