extends layout

block content 
  h1 NNaaS
  p.lead Neural Networks as a Service
        button.btn.btn-primary(type='button', style='margin-left: 1040px;', target="_blank", onclick="location.href='input';") + Add Input
  hr
  .row
    .col-sm-6


      
