extends layout

block content 
  h1 NNaaS
  p.lead Neural Networks as a Service
        button.btn.btn-primary(type='button', style='margin-left: 1040px;', target="_blank", onclick="location.href='input';") + Add Input
  hr
  .row
    .col-sm-6

          h2 Heading
          p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
          p
            a.btn.btn-default(href='#', role='button') View details »
        .col-sm-6
          h2 Heading
          p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
          p
            a.btn.btn-default(href='#', role='button') View details »
        .col-sm-6
          h2 Heading
          p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
          p
            a.btn.btn-default(href='#', role='button') View details »
        .col-sm-6
          h2 Heading
          p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
          p
            a.btn.btn-default(href='#', role='button') View details »
  .container
    h2 Hover Rows
    p The .table-hover class enables a hover state on table rows:
    table.table.table-hover
      thead
        tr
          th Name
          th API key
          th Delete Row
      tbody
        tr
          td Kayleigh (Master)
          td Fu
          td
            input(type='button', value='Delete', onclick='deleteRow(this)')
        tr
          td Slave A
          td Slave B
          td
            input(type='button', value='Delete', onclick='deleteRow(this)')
      
