extends layout

block content
  .page-header
    h3 User Input
  form.form-horizontal(role='form', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group
      label.col-sm-3(class='control-label', for='hiddenLayers', style='margin-right: 5px;')  Hidden Layers:
      .col-sm-7
        input(class='form-control', type='number', name='hiddenLayers', min='1', max='5')
    .form-group
      label.col-sm-3(class='control-label', for='inputNeurons', style='margin-right: 5px;') Input:
      .col-sm-7
        input(class='form-control', type='number', name='inputNeurons', min='1', max='1000')
    .form-group
      label.col-sm-3(class='control-label', for='outputNeurons', style='margin-right: 5px;') Output:
      .col-sm-7
        input(class='form-control', type='number', name='outputNeurons', min='1', max='10')
    .form-group
      label.col-sm-3(class='control-label', for='neuronsInHiddenLayer', style='margin-right: 5px;') Number of Neurons per Layer:
      .col-sm-7
        input(class='form-control', type='number', name='neuronsInHiddenLayer', min='1', max='100')
    .form-group
      label.col-sm-3(class='control-label', for='neuronType', style='margin-right: 5px;') Neuron Type:
      .col-sm-7
        select(name='neuronType')
            option(value='Binary') Binary
            option(value='Logarithmic') Logarithmic
            option(value='Sigmoid') Sigmoid
    .form-group
      label.col-sm-3(class='control-label', for='networkType', style='margin-right: 5px;') Neuron Network:
      .col-sm-7
        select(name='networkType')
          option(value='feedforward') Feed Forward
          option(value='recurrent') Recurrent
          option(value='Hopfield') Hopfield
    .form-group
      label.col-sm-3(class='control-label', for='networkName', style='margin-right 5px;') Neuron Name:
      .col-sm-7
        input(class='form-control', type='text', name='networkName')
    .form-group
      .col-sm-7.col-sm-offset-3
        button.btn.btn-primary.pull-right(type='submit') Add Network
