extends layout

block content
  .container
    .page-header
      h1 Add a Network
    form.form-horizontal(role='form', method='POST')
      input(type='hidden', name='_csrf', value=_csrf)
      .form-group
        label(class='control-label', for='hiddenLayers', style='margin-right: 5px;')  Hidden Layers:
        input(type='number', name='hiddenLayers', min'1', max'5', class='form-control')
      .form-group
        label(class='control-label', for='inputNeurons', style='margin-right: 5px;') Input:
        input(type='number', name='inputNeurons', min'1', max='10', class='form-control')
      .form-group
        label(class='control-label', for='outputNeurons', style='margin-right: 5px;') Output:
        input(type='number', name='outputNeurons', min'1', max='10', class='form-control')
      .form-group
        label(class='control-label', for='neuronsInHiddenLayer', style='margin-right: 5px;') Number of Neurons per Layer:
        input(type='number', name='neuronsInHiddenLayer', min'1', max='10', class='form-control')
      .form-group
        label(class='control-label', for='neuronType', style='margin-right: 5px;') Neuron Type:
        select(name='neuronType')
            option(value='Binary') Binary
            option(value='Logarithmic') Logarithmic
            option(value='Sigmoid') Sigmoid
      .form-group
        label(class='control-label', for='networkType', style='margin-right: 5px;') Neuron Network:
        select(name='networkType')
          option(value='feedforward') feedforward
          option(value='recurrent') recurrent
          option(value='Hopfield') Hopfield
      .form-group
        label(class='control-label', for='networkName', style='margin-right 5px;') Neuron Name:
        input(type='text', name='networkName', class='form-control')
      .form-group
        button.btn.btn-primary(type='submit') Add Network
